body {
    font-family: 'red hat display';
}

#card {
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

h5 {
    font-weight: 900;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

#cardmessage {
    padding-bottom: 1.5rem;
}

#planselector {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    margin-left: 15px;
}

#change {
    padding-top: .5rem;
}