body {
    font-family: 'red hat display';
    background-image: url(/images/luke-chesser-eICUFSeirc0-unsplash.jpg);
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


#card {
    border: solid-light;
    border-radius: 25px;
    background-color: #f1e3fc;
}

#image {
    border-radius: 25px 25px 0 0;
}

h4 {
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

#cardmessage {
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: medium;
    font-weight: 300;


}

#planselector {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 285px;
    margin-left: 10px;
    font-size: 14px;
    background-color: #e9ccfc;


}

#change {
    padding-top: .5rem;
    text-decoration: underline;
}

#paymentbtn {
    padding-top: 1.75rem;

}

#payment {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;

}

#cancelbtn {
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-weight: 700;
}

#plantitle {
    font-weight: 900;
    font-size: 15px;
}

#icon {
    padding: 0px;
}

#centercol {
    /* padding-left: 0px;
    padding-right: 25px; */
}